
<h1 class="titulo-pagina">Buscador de países</h1>


<div class="contenido-principal">
  <h3>Buscar un país</h3>

  <div>
    <input [(ngModel)]="paisBuscar" type="text" placeholder="Introduce un país" />
    <button (click)="getPaisesWithFetch(paisBuscar)">Buscar país</button>
  </div>

 
  <div *ngIf="paisRecibido" class="card-pais">
    <h2>Información del país</h2>
    <p><strong>País:</strong> {{ paisRecibido.name.common }}</p>
    <p><strong>Capital:</strong> {{ paisRecibido.capital[0] }}</p>
    <p><strong>Prefijo telefónico:</strong> {{ iddRoot }}</p>
    <p><strong>Continente:</strong> {{ paisRecibido.region }}</p>
    <img [src]="paisRecibido.flags.png" alt="Bandera" />
  </div>

  
  <p *ngIf="errorBusqueda" class="error">No se encontró el país.</p>
</div>
